.filter{

    &__i{
        position: relative;
        display: flex;
        justify-content:space-between;
        margin: 51px auto 65px;
        width: 100%;
    }

    &__main{
        cursor: pointer;
        z-index: 10;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        width: max-content;
        
    }

    &__main[open]>summary{
        color: #EF5B70;
    }

    &__mid{
        cursor: pointer;
        z-index: 10;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
        width: max-content;
        color: #ef915b;
    }
    &__mid[open] summary{
        color: #ef915b;
    } 


    &__summ{

        list-style: none;

        &__block{
            position: absolute;
            left: 0;
            background-color: #FFFFFF;
            box-shadow: 5px 4px 32px rgba(0,0,0,0.21);
        }

        &__sub{
            cursor: pointer;
            list-style: none;
            border-left: 7px solid #EF5B70;
            padding: 10px;
            margin-left: 10px;
            margin-top: 24px;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            text-transform: uppercase;
            color: #636363;
        }

        &__sub>a{
            text-transform: capitalize;
        }
        &__sub__ul>li{
            list-style-type: none;
            margin: 11px;
            padding-left: 15px;
        }
        &__sub__a{
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            text-decoration: none;
            text-transform: capitalize;
        }
    }



    &__middle{
        display: flex;
        margin: 0 auto;
        width: max-content;

        &__point{
            width: max-content;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;

            &:not(:last-child){
                margin-right: 10%;
            }
            
                & summary{
                    display: flex;
                    list-style: none;
                }

                & ul{
                    width: 60px;
                    position: absolute;
                    text-transform: uppercase;
                    list-style: none;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
                    color: #6F6E6E;
                    z-index: 10;
                    background-color: #FFFFFF;
                    box-shadow: 5px 4px 32px rgba(0,0,0,0.21);

                    & li{
                        display: flex;
                        justify-content: center;
                        margin: 6px auto;

                        &:first-child{
                            margin-top: 12px;
                        }
                        &:last-child{
                            margin-bottom: 12px;
                        }

                    }

            }
        }
    }

}


@media (max-width:768px){
    .filter{
        &__middle{
            margin: 0;
        }

    }
}

@media (max-width:375px){
    .filter{


        &__summ{
            & span{
                display: none;
            }
        }

    }
}
